{% extends "base.html" %}

{% block title %}ToWatchList - {{ user.username }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ user.username }}</h1>
    {% if user.first_name and user.last_name %}
    <p>
        {{ user.first_name }} {{ user.last_name }}
    </p>
    <p>
        {{ user.links.count() }} links to watch
    </p>
    {% endif %}
    <p>
        {% if user == current_user %}
            <a class="btn btn-primary" href="{{ url_for('main.edit_profile') }}">Edit Profile</a>
        {% endif %}
    </p>
</div>
<h3>
    Links to Watch
</h3>
{% include '_links.html' %}
{% endblock %}